:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  border-color: var(--ig-gray-400);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 24px;
  width: 900px;
  min-width: 50px;
  min-height: 620px;
  max-width: 900px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.entities_return-fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.section_conditions {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 8px 0 0;
  min-width: 50px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.h6 {
  margin: 0 0 8px;
  height: max-content;
  min-width: min-content;
}
.text {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.select {
  height: max-content;
}
.button {
  --ig-size: var(--ig-size-small);
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
